/* Container principal */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}

/* Container da imagem de fundo */
.backgroundContainer {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Container de conteúdo */
.contentContainer {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

/* Container da imagem da loja */
.storeContainer {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
}

.storeImage {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.storeImage:hover {
    transform: scale(1.05);
}

/* Container de texto */
.textContainer {
    flex: 1;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
}

.subtitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #e65100;
    text-align: center;
}

.paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    text-align: justify;
}

/* Estilos de responsividade */
@media (max-width: 768px) {
    .contentContainer {
        flex-direction: column;
        align-items: center;
    }
    .storeContainer {
        width: 100%;
        max-width: none;
    }
    .storeImage {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 3rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }
    .paragraph {
        font-size: 1rem;
    }
}
